.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
width: 244px; /* Main Menu Item widths */
list-style-type: none;
font: bold 13px/18px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;/*Verdana,Arial, Helvetica, sans-serif;*/
color:#302078;
/*border-bottom: 1px dashed #ccc;*/
}
 
.ddsmoothmenu-v ul li{
position: relative;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 6px 6px 6px 10px;
border-bottom: 1px dashed #b2accc;
/*border-right: 1px solid #778;*/
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
/*background: #414141;*/ /*background of menu items (default state)*/
color:#302078;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#e3f6fd; 
color:#302078;
}

.ddsmoothmenu-v ul li a:hover{
background:#e3f6fd; /*background of menu items during onmouseover (hover state)*/
color:#302078;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 190px; /*Sub Menu Items width */
top: 0;
left:4px;
font-weight: normal;
visibility: hidden;
background-color:#dce9ed;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */


.downarrowclass{
position: absolute;
top:12px;
right:9px;
}

.rightarrowclass{
position: absolute;
top:10px;
right: 7px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background:#fff;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}