/* CSS Document */

/**{padding:0px; margin:0px}*/

body{background:#bdc65b; margin:0px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#1f1f1f; font-size:12px; font-weight:normal}

ul{list-style:none}

.left{float:left}

.right{float:right}

.clr{clear:both}
.clear{line-height:0;font-size:0;clear:both;border:0}

.justify{text-align:justify; line-height:22px}

.line_height22{line-height:22px}

#main_wraper{width:980px; margin:0px auto; } 

.body_bg{width:940px; background:#fefbe6; padding:6px 20px}

.logo{width:500px; padding:0px 0px 10px 20px}


.menu{width:230px;padding-left:710px;  height:31px;  background:#376904 }

.menu ul li {
    background: url(../images_online/nav_division.gif) no-repeat right 0px;
    padding: 0px 5px 0px 5px;
    height: 31px;
    float: left;
}

.menu ul li.last{background:none}

.menu ul li a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration:none;   text-align:center; font-weight:bold}

.menu ul li a:hover, .active{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#d0ffa5 !important; text-decoration:none;  text-align:center; font-weight:bold}





.bg{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:908px; padding:20px 15px;}

.bg_login{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:410px; padding: 15px; margin-left:250px; }

.bg_login01{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:360px; padding: 15px; margin-left:50px; float:left}

.bg_login02{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:360px; padding: 15px; margin-right:50px; float:right}

.detail_left{width:732px; float:right}

.bg_right{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:650px; padding:20px 15px; }
.bg_all{background:#fefbe6; border-top:4px solid #78820e; border-left:1px solid #78820e; border-right:1px solid #78820e; border-bottom:1px solid #78820e; width:680px; padding:20px 15px; }

.left_menu{width:150px; padding:15px; border:1px solid #78820e; float:left}

.bg01{background:#b2ac81;}

.bg02{background:#ece7c3; padding:4px}

.bg03{background:#fefbe6; padding:4px}

.bg04{background:#78820e; width:180px; padding:10px}

.text_field{width:160px; padding:3px; border:1px solid #bcb47d; background:#fefbe6; height:18px;font-family:'Segoe UI',Verdana,Arial}

.text_field01{width:100px; padding:3px; border:1px solid #bcb47d; background: #fefbe6; height:18px ;font-family:'Segoe UI',Verdana,Arial}

.text_field02{width:40px; padding:3px; border:1px solid #bcb47d; background:#fefbe6; height:18px;font-family:'Segoe UI',Verdana,Arial}

.text_field03{width:70px; padding:3px; border:1px solid #bcb47d; background:#fefbe6; height:18px}

.text_field04{width:40px; padding:3px; border:1px solid #aaa36f; background:#ece7c3; height:18px}

.text_field05{width:160px; padding:3px; border:1px solid #aaa36f; background:#ece7c3; height:18px}

.text_area{width:160px; padding:3px; border:1px solid #bcb47d; background:#fefbe6; height:40px}

.list{width:130px; padding:2px; border:1px solid #bcb47d; background:#fefbe6; height:26px;font-family:'Segoe UI',Verdana,Arial}

.list01{width:160px; padding:3px; border:1px solid #bcb47d; background:#fefbe6; height:26px}

.list02{width:112px; padding:2px; border:1px solid #bcb47d; background:#fefbe6; height:26px}

.list03{width:80px; padding:2px; border:1px solid #bcb47d; background:#fefbe6; height:26px}

.list04{width:80px; padding:2px; border:1px solid #aaa36f; background:#ece7c3; height:26px}

.button01{width:70px; height:28px; background:url(../images_online/button01.png) no-repeat; color:#FFFFFF; text-align:center; cursor:pointer; border:0px; }


.button02{width:120px; height:28px; background:url(../images_online/button02.png) no-repeat; color:#FFFFFF; text-align:center; cursor:pointer; border:0px; color:#FFFFFF}

.login_button{width:100px; height:30px; background:url(../images_online/login_button.png) no-repeat; color:#FFFFFF; text-align:center; cursor:pointer; border:0px; padding-top:5px}

.sign_up_button{width:100px; height:30px; background:url(../images_online/sign_up_now.png) no-repeat; color:#FFFFFF; text-align:center; cursor:pointer; border:0px; padding-top:5px}



/************* text *****************/

.text01{color:#90760c; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:normal}

.text02{padding:0px; margin:0px;color:#90760c; font-size:15px; font-family:Arial, Helvetica, sans-serif; font-weight:normal}

.text03{color:#FF0000}

.text04{color:#90760c;}

.text05{color:#fff; font-size:17px; font-family:Arial, Helvetica, sans-serif; font-weight:normal}

/************* link *****************/

.link01{color:#fff; text-decoration:none}

.link01:hover{color:#000; text-decoration:none}

.link02{color:#000; text-decoration:none}

.link02:hover, .active01{color:#90760c!important; text-decoration:none}

.link03{color:#90760c; text-decoration:none; font-weight:bold}

.link03:hover{color:#000; text-decoration:none; font-weight:bold}

.link04{color:#FF0000; text-decoration:none}

.link04:hover{color:#1f1f1f; text-decoration:none}

.link05{color:#90760c; text-decoration:none}

.link05:hover{color:#000; text-decoration:none}


/************* border *****************/


.border01{border-bottom:1px solid #78820e;}


.require{color:red;font-size:11px}

.verifyDiv{border:1px solid #78820e;border-radius:5px 5px 5px 5px;margin-top:70px;padding:10px;width:580px;background-color:#a7af4a;text-align:center}
.loginVerified{font-family:Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;font-size:18px;padding:20px;color:#fbf9f7;font-weight:bold}

.DefaultButton{font-family:Segoe UI;font-size:11px;padding:3px}

.labelCaption{font-family:Segoe UI;font-size:12px;color:navy;text-align:left}

.loading-overlay,.verfication-overlay,.content-overlay,.confirm-overlay{background:url(../images/overlay.png);height:100%;left:0;position:fixed;_position:absolute;_height:1020px;top:0;width:100%;z-index:1200;display:none}

.close-content{background:url(../images/close.png?v=1) no-repeat right top;margin:-4px 0 0 -21px;cursor:pointer;font-size:11px;width:100%;height:20px;padding-top:3px;text-align:right;padding-right:25px}

.ajax-loader-outer{background:#fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;margin:291px auto 0 auto;width:68px;border:1px solid #e7e7e7;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:15px 0 12px 46px;font-size:13px;color:#000;font-family:Segoe UI,Lucida Grande,Arial,Helvetica,sans-serif;height:15px;-moz-box-shadow:2px 2px 3px #c2c2c2;-webkit-box-shadow:2px 2px 3px #c2c2c2;box-shadow:2px 2px 3px #c2c2c2}

.ajax-loader-outernew{background:#fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;margin:291px auto 0 auto;width:200px;border:1px solid #e7e7e7;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:15px 0 12px 46px;font-size:13px;color:#000;font-family:Segoe UI,Lucida Grande,Arial,Helvetica,sans-serif;height:50px;-moz-box-shadow:2px 2px 3px #c2c2c2;-webkit-box-shadow:2px 2px 3px #c2c2c2;box-shadow:2px 2px 3px #c2c2c2}

.loadwrapper{width:960px;margin:0 auto;position:relative}

.headingCaption{font-family:Verdana ,Segoe UI;font-size:14px;color:#000;font-weight:bold;background-color:#b2ac81;text-align:center;vertical-align:middle}

.TableHeaderRep{font-family:Segoe UI;font-size:12px;color:#000;text-align:center;background-color:#ece7c3;border:solid 1px gray;font-weight:bold}
.wrapper-outer{margin:0 auto;width:865px;height:100%;padding:15px 0}
.wrapper-inner{background:url(../images/page-overlay.png);margin:35px auto 0 auto;width:827px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:8px}
.loadContent{background:#fff;padding:9px 9px 0 9px;border:1px solid #cacaca;_width:835px;height:500px}

.error{float:none;font-size:11px;color:#e10707;display:block;width:auto;margin:0;text-align:left}
.divCaption{font:13px/19px Segoe UI,Lucida Grande,Arial,Helvetica,sans-serif;color:navy;font-weight:bold;text-align:center;width:98%}
.divroomTable{overflow:auto;height:340px}

.divTable
{
    width:98%;
    border: 1px solid #6d760b;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
}
.th
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}
.th1
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    
    background:#ece7c3; padding:4px;
}
.tr
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}

.tr1
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    
}

.trinput
{
    width:30px;
    height:20px;
    font: 11px/11px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: right;
    background:#fefbe6;
    border: 1px solid #cbc7c7;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
    border-width:thin;
    margin-bottom: 1px;
    /*overflow:scroll;*/
}

.trinputarea
{
    width:80px;
    font: 11px/17px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: left;
    height:50px;
    border: 1px solid #cbc7c7;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
    border-width:thin;
    margin-bottom: 1px;
}

.tabs-outer {
	/*background: url(/img/checkout/tabs-line.gif) repeat-x left 18px;*/
	width: 623px;
	overflow: hidden;
	margin: 0 10px 25px 10px;
}

.tabs-cont {
	/*background: url(/img/checkout/tab-bg.gif) no-repeat top center;*/
	font-size: 12px;
	font-weight: normal;
	color:  #90760c;
	float: left;
	width: 150px;
}

.tab-visited:hover {
	/*background: url(/img/checkout/tab-active.gif) no-repeat top center;*/
	color:  #90760c;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.tab-active {
	/*background: url(/img/checkout/tab-active.gif) no-repeat top center;*/
	color: #90760c;
	font-weight: bold;
	font-size: 13px;
}

.tab-disabled {
	background: none !important;
	opacity: 0.6;
	cursor: not-allowed;
    color:  #555555;
}


.tabs-booking {
	background: url(../images/book_add.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-customer {
	background: url(../images/customers.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-confirm {
	background: url(../images/order.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-complete {
	background: url(../images/liqpay.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-payment {
	background: url(../images/Rupee.jpg) no-repeat center;
	height: 36px;
	margin: 0 auto;
}
.tabs-order {
	background: url(../images/login.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}
.tabs-login {
	background: url(../images/loginonline.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}
/*.tabs-payment {
	background: url(../images/autoship.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}*/

.tabs-confirm {
	background: url(../images/order.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-complete {
	background: url(../images/liqpay.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}
.require {
	color: #FF0000;
	font-size: 11px;
}
.customer-info-outer,.order-summary-outer {
	overflow: hidden;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
}

.customer-info-outer {
	margin: 0 10px;
}

.order-summary-outer {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b6b5b5;
	margin: 0 10px 0px 10px;
}

.order-summary-bg {
	/*background: url(/img/checkout/order-summary-bg.gif) repeat-x;*/
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	margin: 1px;
	overflow: hidden;
}

.customer-info {
	width: 380px;
	float: left;
	overflow: hidden;
	padding-bottom: 25px;
}

.customer-info label {
	float: left;
	font-size: 13px;
	color: #242424;
	display: block;
	width: 150px;
	margin: 7px 0;
	text-align: right;
	padding-right: 10px;
}

.enquiry-info
{
    font-family: Segoe UI;
}
.enquiry-info label.error,.mobile-verfify-left label.error,.error {
	float: none;
	font-size: 11px;
	color: #E10707;
	display: block;
	width: auto;
	margin: 0px;
	text-align: left;
	
}