﻿

/*---------- CSS RESET -----------*/
body{
padding:0px; margin:0px;
background:#18588a;
font:normal 10px/17px  Segoe UI,'Myriad Pro',Arial, Helvetica, sans-serif;
color:#292724;
}
div, p, h1, h2, h3, h4, h5, span, form, input, select, label, text-area, a, img, fieldset, dl, dd, dt{ margin:0px; padding:0px;}
img a{border:none; outline:none;}
a{text-decoration:none; padding:0; margin:0;}

.clear{
	line-height:0px;
	font-size:0px;
	clear:both;
	border:0;
	}
@font-face {
    font-family: 'FuturaBdCnBTBold';
    src: url('futurabc-webfont.eot');
    src: url('futurabc-webfont.eot?#iefix') format('embedded-opentype'),
         url('futurabc-webfont.woff') format('woff'),
         url('futurabc-webfont.ttf') format('truetype'),
         url('futurabc-webfont.svg#FuturaBdCnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'VivelaRivoluVivelaRivoluzione';
    src: url('vivelarivoluzione-webfont.eot');
    src: url('vivelarivoluzione-webfont.eot?#iefix') format('embedded-opentype'),
         url('vivelarivoluzione-webfont.woff') format('woff'),
         url('vivelarivoluzione-webfont.ttf') format('truetype'),
         url('vivelarivoluzione-webfont.svg#VivelaRivoluVivelaRivoluzione') format('svg');
    font-weight: normal;
    font-style: normal;

}

#page{
	background:#18588a  top center no-repeat;/*url(../images/bigbg1.jpg)*/
	width: 100%;
	display: table;
	}
.wrapper
{
    background:#ffffff;
	width:1000px;
	margin:0 auto;
	}
	.top
	{
	    width:980px;
	}
.name
{
    font:bold 24px/19px FuturaBdCnBTBold,Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
	width:580px; height:50px;
	float:left;
	/*background: url(../images/Logo1.gif) no-repeat;*/
	margin-left:20px;
	margin-top:16px;
	padding-left: 165px;
	padding-top: 30px;
	}
.logoTech
{
 font:bold 14px/19px Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
 padding-top:30px;
 padding-left:135px;
    
}
.nameleft
{
    width:610px; 
    float: left;
    font:bold 14px/19px Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
    color:#38b7b7;
    margin-top:16px;   
    text-align:right;
}
.top-right
{
    width:190px;
    float:right;
    margin:5px;
    padding: 5px;
}
.top-right-top
{
    font:bold 11px/19px Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
    text-align:right;
    padding:  0px 0px 10px 0px;
}
.top-right-bottom
{
   
    font:bold 24px/19px FuturaBdCnBTBold,Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
   text-align:right;
}
.nav-area
{
    margin-top:10px;
	width:780px;
	margin-left:10px;
	float:left;
	/*margin-top:26px;*/
	}
.nav-leftbg{
	/*background:url(../images/nav-leftbg.gif) 0 0 no-repeat;*/
	width:12px; height:43px;
	float:left;
	}
.nav-rightbg{
	/*background:url(../images/nav-rightbg.gif) 0 0 no-repeat;*/
	width:12px; 
	/*height:43px;*/
	float:left;
	}
.navbg{
		/*background:url(../images/navbg.gif) 0 0 repeat-x;*/
		/*height:43px; */
		width:700px;
		float:left;
		}
.nav{
	width:770px; height:43px;
	margin-left:10px;
	}
.nav ul{
	padding:0; margin:0;
	list-style:none;
	font-family: 'Myriad Pro';
	line-height:43px;
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	color:#545a5a;
	}
.nav ul li{
	float:left;
	/*background:url(../images/nav-divider.png) 0 50% no-repeat;*/
	padding-left:15px;
	}
.nav ul li a{
	text-decoration:none;
	color:#545a5a;/*color:#f9e0b4;*/
	padding:0 10px 0 0px;
	}
.nav ul li a:hover, .nav ul li a.active{
	color:#2b2a2a;
	}
.nav ul li.nobg{
	background:none;
	}
.banner{
	 text-align:center;
	width:906px; height:260px;
	background-repeat:no-repeat;
	/*background:url(../images/banner.jpg) 0 0 no-repeat;
	margin-left:20px;
	
	border-bottom:#613c0f 1px solid;
	border-left:#c28439 1px solid;
	border-right:#694417 1px solid;
	border-top:#e3a85c 1px solid;*/
	}
.banner-con{
	width:889px;
	height:368px;
	margin-left:13px;
	padding-top:14px;
	position:relative;
	}
.bodybg{
	/*background:url(../images/bodybg.png) 0 0 repeat-y;*/
	width:960px; 	
	}
.body-content{
	width:907px;
	margin-left:28px;
	padding-top:10px;
	padding-bottom:30px;
	
	min-height:400px;
	}
.body-upper{
	/*width:618px;
	float:left;*/
	width:916px;
	float:left;
	height:405px;
	}
	

.prods
{
    float:left;
    margin: 10px;
}
.product-types
{
   padding: 10px 0 10px 0;
    height:300px;
    width:915px;
    text-align:center;
    
}
.DefaultText
{
	font-family:Segoe UI;
	font-size:11px;
		
}

.DefaultButton
{
	font-family:Segoe UI;
	font-size:11px;	
	padding: 3px;
}

.labelCaption
{
	font-family:Segoe UI;
	font-size:12px;	
	color:Navy;
	text-align:left;	
}

.groupCaption
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	font-weight:bold;
	background-color:Gainsboro;
	/*background-color: #60c8c4;*/
	text-align:center;
	vertical-align:middle
}
.borderStyle{
     border: solid 1px #428dc7;
}
.headingCaption
{
	font-family:Segoe UI;
	font-size:12px;	
	color:White;
	font-weight:bold;
	/*background-color:Gainsboro;*/
	background-color: #18588a;
	text-align:center;
	vertical-align:middle
}

.addBG
{
    background: rgb(151,153,159) url(../images/date_add1.png) no-repeat 70px center;    
    width: 100px;
    display: inline-block;
    color: White;
    font-weight: bold;
    cursor: pointer;
    _cursor: hand;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border:0px;
    font-size:12px;
}

.submitBG
{
    background: rgb(151,153,159) url(../images/form-submit.png) no-repeat 70px center;
    
    width: 100px;
    display: inline-block;
    color: White;
    font-weight: bold;
    cursor: pointer;
    _cursor: hand;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border:0px;
    font-size:12px;
}
.unlock
{
    background: #ffffff url(../images/user_unlock.png) no-repeat 70px center;    
    width: 100px;
    display: inline-block;
    color: Black;
    font-weight: bold;
    cursor: pointer;
    _cursor: hand;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border:1px rgb(151,153,159) solid;
    font-size:12px;
}
.verifyDiv
{
	border: 1px solid #828282;
	border-radius: 5px 5px 5px 5px;
	margin-top:70px;
	padding: 10px;
	width: 900px;
	background-color: #e4e4e4;
	text-align:center;
}
.loginVerified
{
	font-family: Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;
	font-size: 18px;
	padding: 20px;
	color: #FFFFCC;
	font-weight:bold;
}
.product-types ul li
{
    font:bold 14px/19px Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
    padding:55px;
    list-style:none;
    float:left;
}
.productimg
{
    width:102px;
    height:74px;
}
.poweredby
{
    padding-left:150px;
    font:bold 14px/19px Segoe UI,'Myriad Pro',Verdana,Arial, Helvetica, sans-serif;
	/*background:url(../images/poweredbybg.png) 0 0 no-repeat;*/
	width:960px;
	height:75px;
	}
.imgcls
{
    padding-left:10px;
 }
 .footerpage
{
    /*background:#3d5204  top center no-repeat;*/
	width: 100%;
	display: table;
}
.footer{
	width:960px;
	padding:10px 0 0 0;
	margin:0 auto;
	text-align:center;
	}
.copyright{
	font:bold 12px/16px myriad,Verdana, Arial, Helvetica, sans-serif;
	color:#e1dbdb;/*#adcdb9*/
	}
.footerlink ul{
	padding:0; margin:0;
	list-style:none;
	font:bold 12px/16px myriad,Verdana, Arial, Helvetica, sans-serif;
	color:#e1dbdb;/*#adcdb9*/
	margin-left:350px;
	}
.footerlink ul li{
	float:left;
	background:url(../images/footernav-devider.gif) 0 5px no-repeat;
	padding-left:10px;
	}
.footerlink ul li a{
	text-decoration:none;
	color:#e1dbdb;/*#adcdb9*/
	padding:0 5px 0 0px;
	}
.footerlink ul li a:hover{
	color:#e1dbdb;/*#fff*/
	}
.footerlink ul li.fnobg{
	background:none;
	}
	
.body-prod-left{
	width:170px;
	float:left;
	padding: 10px 5px 10px 0px;
	border-right: 1px solid grey;
	min-height:300px;
	}
.left-item{
	width:245px;
	margin-bottom:10px;
	}
.categorybg{
	/*background:url(../images/categorybg.png) 0 0 no-repeat;*/
	width:205px; height:30px;
	font:bold 20px/30px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif,"Arial Rounded MT Bold", Arial, "Arial Unicode MS";
	color:#000000;
	padding-left:40px;
	}
.category-conbg{
	width:245px;
	font: 11px/18px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;/*Verdana,Arial, Helvetica, sans-serif;*/
	/*background:url(../images/category-conbg.gif) 0 0 repeat-y;*/
	}
.category-bottombg{
	/*background:url(../images/category-bottombg.gif) 0 0 no-repeat;*/
	width:245px; height:11px;
	}
	
	.body-prod-right{
	width:700px;
	float:left;
	padding-left:21px;
	margin-bottom:30px;
	}
	
.body-right-content
{
    padding: 20px;
    
}	
	.prod-right-inner
	{
	    width:630px;
	    float:left;	    
	    	    
	}
	.imgcap
	{
	    font: 13px/18px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;/*Verdana,Arial, Helvetica, sans-serif;*/
	}

	.bar-area{
	margin-top:20px;
	width:650px;
	}
.bar-heading{
	width:630px;
	margin-bottom:13px;
	}
.bar-left{
	background:url(../images/bar-leftbg.jpg) 0 0 no-repeat;
	width:7px; height:35px;
	float:left;
	}
.bar-right{
	background:url(../images/bar-rightbg.jpg) 0 0 no-repeat;
	width:7px; height:35px;
	float:left;
	}
.barbg{
	background:url(../images/barbg.jpg) 0 0 repeat-x;
	height:35px; width:610px;
	float:left;
	font:bold 20px/35px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;
	color:#fff;
	padding-left:7px;
	}
	.barbg a{
		color:#fff;
	}
.product-area
{
    margin-top:10px;
	width:630px;
	background:url("../images/all-prods-lis-bg.gif") repeat-y scroll 211px 0 transparent;
	padding-left:40px;
	}
.product-tr{
	
	background:url("../images/all-prods-lis-bg.gif") repeat-x  0 0 transparent;
	}
.product-area-home{
	width:630px;
	/*background:url("../images/all-prods-lis-bg.gif") repeat-y scroll 171px 0 transparent;*/
	}
#seemore
{
    margin:20px;
	text-align:center;  
}
.loading
{
	text-align:center;
}
.loading-res
{
	background-color:Gray;
	color:white;width:100%;
	font:bold 12px/24px Verdana,Arial;
	text-align:center;
	display:none;
}
	
div.item:hover {
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius:5px;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA')";
	 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAAAAA');
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=AAAAAA,offX=8,offY=8,positive= true);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";*/
	
    
	}
	
	
	
.item
{
	font-family:Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;
	width:164px;
	float:left;
	padding-left:4px;
	padding-right:4px;
	padding-top:5px;
	padding-bottom:10px;
	height:280px;
	
	
	/*padding:7px 10px 11px 11px;
	height:210px;*/
	}
	
	.product-image {
width: 166px;
height: 194px;
cursor: pointer;
background: url(../images/ajax-loader.gif) no-repeat center center;
position: relative;
}
.item1{
	width:165px;
	float:left;
	padding-left:11px;
	}
.item h3{
	font:bold 13px/15px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;/*Arial, Helvetica, sans-serif;*/
	color:#33237b;
	padding-bottom:6px;
	height:40px;
	}
.item p{
	font:normal 12px/15px Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;/*Arial, Helvetica, sans-serif;*/
	color:#435061;
	padding-top:10px;
	}	

.item1 h3{
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	color:#33237b;
	padding-bottom:6px;
	}
.item1 p{
	font:normal 12px/15px Arial, Helvetica, sans-serif;
	color:#435061;
	padding-top:10px;
	}	
	
	
	
	/* Product Detail Page*/
	.product-section
{
	width: 900px;
	padding-top: 15px;
	font-family:Segoe UI,Lucida Grande,UnDotum,Arial,Helvetica,sans-serif;
	
}

.prod-main-cont{
	width:890px;
	padding:10px;
	overflow:hidden;
		
	}
	
.prod-deal-cont-outer {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 5px #828282;
    padding: 15px;
    min-height:500px;
}
.prod-deal-cont {
    overflow: hidden;
    width: 860px;
}
.prod-right{
	width:340px;
	float:right;
	padding-left:5px;	
}
	
.prod-main-image-outer {
    overflow: visible;
	}
.prod-main-image {
    border: 1px solid #AFAFAF;
    float: right;
    height: 363px;    
    width: 270px;
    padding:5px;
}
.product-main-image-thumb-outer {
		float: left;
		
	}	
.prod-left{
	width:500px;
	float:left;
	padding-right:5px;
	/*border-right:1px solid #AFAFAF;*/
	}
.prod-title{
	color: #303030;
    font-size: 15px;
    font-weight: bold;
}
.prod-title h1
{
	font-size: 15px;
	margin:0px;
}

.prod-subTitle{
	color: #616161;
    font-size: 13px;
}

.prod-buy-outer {
    border-bottom: 1px dotted #B2B2B2;
    border-top: 1px dotted #B2B2B2;
    font-size: 12px;
    margin: 8px 0 15px;
    overflow: hidden;
    padding: 8px 0;
}
.prodbuy-outer
{
	margin-top: 10px;
	overflow: hidden;
    width: 480px;
    margin-right:10px;
}
.prodbuy-price-outer
{
	background: #FFE682 none repeat scroll 0 0;
	border: 1px solid #D8D8D8;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #828282;
	float: right;
	height: 48px;
	margin: 5px 0 8px;
	overflow: hidden;
	width: 350px;
}
.prodbuy-price
{
	border-right: 1px solid #E1E0D7;
	color: #333434;
	float: left;
	font-size: 12px;
	margin: 7px 0 5px;
	padding: 0 15px 0 20px;
	width: 110px;
	border-right-color: #666666;
}
.prodbuy-discount 
{
	color: #333434;
    float: left;
    font-size: 12px;
    margin: 7px 0 5px;
    padding: 0 15px 0 20px;
    width: 85px;
    border-right: 0 solid #E1E0D7;
}
.rushprice-outer
{
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #D8D8D8;
	border-radius: 5px 0 0 5px;
	float: right;
	height: 48px;
	overflow: hidden;
	width: 200px;
	
}
.rushprice {
    color: #333434;
    float: left;
    font-size: 12px;
    padding: 5px 0 0 16px;
    width: 85px;
}

.prodbuy-button a
{
	background: url("../images/buy5.jpg") no-repeat scroll 0 0 #FFFFFF;
	display: block;
	float: right;
	height: 48px;
	margin: 0px 0px 0px 120px;
	position: absolute;
	width: 82px;
}


.prod-free-ship-outer {
    background: none repeat scroll 0 0 #E8F7FB;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-size: 12px;
    margin: 0 0 15px 85px;
    overflow: hidden;
    padding: 4px 9px;
    text-align: right;
    width: 415px;
    /*display:none;*/
    
}

.prod-det-head
{
	color: #4F4F4F;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	width: 415px;
	overflow:hidden;
	margin-top:10px;
	
}

.prod-det-key-features-outer {
    
    font-size: 12px;
    line-height:20px;
	overflow: hidden;
    color: #616161;
    
}
/*ul.prod-key-features {
    color: #616161;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}*/
.prod-det-key-features-outer li
{
	/*background: transparent url("../images/bullet.png") no-repeat scroll left 1px;
	display: block;
	float: left;
	margin: 2px 0;
	padding: 1px 15px 1px 20px;*/
	float: left;
	width: 230px;
	padding-right:5px;
}

.prod-det-out {
    color: #616161;
    font-size: 12px;
}

.prod-det-tab-out {
    font-size: 12px;
    margin-bottom: -1px;
    overflow: hidden;
}
ul.prod-det-tabs {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.prod-det-tabs li {
    background: url("../images/tabs-right-bor.gif") no-repeat scroll right center transparent;
    color: #BD0800;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 5px 10px;
}

.prod-det-tabs-active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent !important;
    border-color: #A89A9A #A89A9A #FFFFFF;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #4F4F4F !important;
    cursor: default;
    font-weight: bold;
}
ul.prod-det-tabs li span
{
	background: transparent url("../images/down_arrow.gif") no-repeat right center;
	display: block;
	padding-right: 15px;
	background-attachment: scroll;
}

.prod-det-tab-out {
    margin: 0;
    padding: 0;
}
.prod-det-tab-cont {
    border: 1px solid #A89A9A;
    border-radius: 0 5px 5px 5px;
    display: none;
    line-height: 15pt;
    padding: 10px;
}

.prod-det-tab-cont p {
    margin: 0;
    padding: 0;
}

.product-spec table {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #F2F2F2;
    font-family: Segoe UI,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 5px;
}
.product-spec table td {
    background: none repeat scroll 0 0 #FEFEFE;
    font-size: 12px;
    padding: 6px;
    text-align: left;
}


/*Product Page */
.filters{border:1px solid #C4DCFE;background:#E1EDFD;width:218px;font-size:11px;padding-bottom:20px;border-bottom:3px solid #C6DDFF;}
.filters-main-head{padding:9px 5px;color:#404040;font-size:13px;font-weight:bold;border-bottom:3px solid #C4DCFE;}
.filters-head{background:#C4DCFE;padding:2px 5px;margin-top:20px;overflow:hidden;}
.filter-head-text{float:left;color:#404040;font-weight:bold;background:#C4DCFE;padding:2px 00px;}
.reset-filter{float:right;font-size:10px;text-decoration:underline;color:#bb0800;margin-right:17px;padding-bottom:2px;margin-top:1px;cursor:pointer;_cursor:hand;}
.filter-toggle{background:url("../images/icon-sprite.png") no-repeat scroll -8px -1376px transparent;cursor:pointer;_cursor:hand;width:15px;height:15px;float:right;margin:-18px 4px 0 0;}
.filter-toggle-arrow{background:url("../images/icon-sprite.png") no-repeat scroll -8px -1419px transparent;}
.filters-cont{background:#fff;border-bottom:1px solid #d5f3fb;padding:2px 5px;color:#565656;overflow-y:auto;max-height:96px;}
label.fliters-list{display:block;overflow:hidden;padding:2px;}
label.fliters-list:hover,.active-filter{background:#f0f0f0;}
.fliters-list span{float:left;display:block;width:168px;line-height:14px;}
.filter-value{float:left;margin:2px 5px 0 0;padding:0;}

.sort-slider-bottom-text{font-size:10px;text-align:center;color:#858585;}
.sort-slider-min-max-outer{overflow:hidden;font-size:10px;color:#676767;}
.sort-slider-min-max-value-outer{overflow:hidden;font-size:11px;color:#343434;font-weight:bold;margin-top:7px;}
.min-value{float:left;}
.max-value{float:right;}


.filter-no-results{background:url(../images/no-prod-alert.png) no-repeat;padding:3px 0 0 62px;color:#303030;font-size:13px;margin:20px 0 0 10px;height:42px;}
.red-bold-err{color:#a1060a;font-weight:bold;font-size:16px;}
.filter-no-prod-suggest-outer{overflow:hidden;margin:26px 0 16px 3px;}
.filter-no-prod-suggest{background:#dbfce1;font-size:12px;font-weight:bold;border:1px solid #adffbc;border-right:0;-moz-border-radius:8px 0 0 8px;-webkit-border-radius:8px 0 0 8px;border-radius:8px 0 0 8px;padding:6px 0 8px 9px;float:left;}
.filter-no-prod-ico{background:url(../images/no-prod-suggest.png) no-repeat;float:left;width:22px;height:31px;}
.red-bold-err{color:#A1060A;font-size:16px;font-weight:bold;}
.filter-no-results_wimg{color:#303030;float:left;font-size:13px;height:30px;margin:0 0 0 10px;padding:0;}
.FrShip,.add-cart-ship{background:url(/img/snapdeal/freShpBgRepX.png) repeat-x scroll 0 0 transparent;border:2px solid #D1D1D1;border-right:0 solid #D1D1D1;color:#363636;float:left;font:11px Segoe UI;padding:5px;text-align:center;width:230px;cursor:pointer;border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;height:36px;}
.link,.add-free-ship{color:#068A00;font:bold 15px Segoe UI;text-decoration:underline;}


.filter-prod-head-outer{height:30px;}
.filter-prod-head{float:left;padding:1px 0 4px 1px;overflow:hidden;}
.filter-prod-ico{width:32px;height:27px;float:left;padding:0 5px 0 2px;}
.filter-prod-text{font-weight:bold;font-size:15px;float:left;padding-top:3px;text-shadow:0 1px #fff;color:#292A2A;}
.filter-prod-text h1{margin:0;padding:0;font-size:15px;display:inline;}
.filter-prod-text span{font-weight:normal;font-size:12px;color:#4a4a4a;}
.filter-prod-sort-outer{float:right;font-size:11px;color:#4a4a4a;padding:5px 8px 0 0;position:relative;}
.filter-sort-text{float:left;padding:2px 3px 0 0;}
.refinded-by-outer{padding:3px 0 4px 3px;font-size:11px;color:#404040;display:none;overflow:hidden;clear:both;}
.refinded-by-outer span.refined-text{display:block;float:left;font-weight:bold;padding:3px 5px 0 0;}
.refined-box,.sort-by-box{background:#f5f5f5;border:1px solid #bababa;padding:0 3px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.refined-box{float:left;margin-top:3px;}
.sort-by-box{padding:2px 6px;float:right;}
span.filter-sep{float:left;padding:2px 4px;}
.sort-by-box span{background:#f5f5f5 url(/img/snapdeal/filter-sort-arrow.png) no-repeat right 6px;font-weight:bold;color:#292A2A;padding-right:10px;cursor:pointer;}
.sort-by-drop{position:absolute;background:#f5f5f5;border:1px solid #bababa;border-bottom:3px solid #bababa;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;width:114px;display:none;z-index:15;right:8px;top:22px;border-top:0;}
ul.sort-by-drop-list{font-size:11px;list-style:none;padding:0;margin:0;}
ul.sort-by-drop-list li{padding:3px 5px;cursor:pointer;}
ul.sort-by-drop-list li:hover{background:#fff;}
.filters-bor{margin:0 0 7px 0;border-bottom:3px solid #C1D5E5;height:2px;clear:both;}
.filter-right-view-all a{float:right;overflow:hidden;font-size:11px;display:block;cursor:pointer;padding:10px 10px 0 0;}
/* End ....... */


/* Checkout Page.....*/

span.shoping-text{background:url(../images/lock.jpg) no-repeat left;display:block;font-size:15px;color:#838383;float:left;padding-left:25px;margin:10px 0 20px 35px;text-shadow:0 1px #232323}


.cont-right {
	float: left;
	width: 245px;
	overflow: hidden;
}
.checkout-cart-box {
	margin-top: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #dfdfdf;
	padding: 3px;
}

.checkout-cart-box-head{
	overflow:hidden;
	}	
	
.checkout-mycart{
	background:url(../images/carticon1.png) no-repeat 0 5px;
	float:left;
	font-weight:bold;
	color:#383838;
	height:30px;
	padding-top:0px;
	padding-left:10px;
	margin-left:4px;
	overflow:hidden;
	}
	.ch_cartfill
{
	-moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    border-radius: 60px;
    background-color:Black;
    color:#ffffff;
    width:5px;
    font-size: 10px;
    
}
.cartEdit
{
    float: right;
    padding-right:10px;
    padding-top:5px;
}
.cartEdit a
{
    text-decoration:none;
    color:#313194;
    font-weight:bold;
}
#cartQty{
	color:#fff;
	font-size:11px;
	display:block;
	text-align:center;
	position:relative;
	float:left;
	background-color:#bb0800;
	width: 15px;
	-moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    -khtml-border-radius: 90px;
    border-radius: 90px;
	}
	
	.ch-mycart-text{
	font-size:14px;
	display:block;
	float:left;
	padding:3px 0 0 7px;
	}			
	
#mycart{
	float:right;
	font-size:11px;
	font-weight:bold;
	color:#0460a3;
	padding:2px 4px 0 0;
	text-decoration:underline;
	cursor:pointer;
	position:absolute;
	margin:0px 0 0 938px;
	top:72px;
	}
	
.checkout-cart-con{
	/*background:#fff url(/img/checkout/checkout-cart-head-bg.gif) repeat-x top;*/
	font-size:11px;
	clear:both;
	border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	-webkit-border-radius:0 0 7px 7px;
	background: #fff;
	}	
	
#mycartSummaryfill{
	/*background:url(/img/checkout/checkout-cart-bg.gif) repeat-y 148px top;*/
	overflow:hidden;
	padding-top:2px;
	}	

.checkout-cart-head{
	float:left;
	padding:3px 2px;
	text-align: left;
	}
	
.ch-cart-items{
	width:130px;
	padding-left:6px;
	}	
	
.ch-cart-qt{
	width:27px;
	text-align:center;
	}
	
.ch-crt-price{
	width:54px;
	text-align:right;
	padding-right:6px;
	}
	
.checkout-cart-list-outer{
      clear:both;
      border-bottom:1px dotted #b2b2b2;
      overflow:hidden;
      padding:3px 0 4px 0;
 }
	
.ch-pay-outer{
	background:#e6e6e6;
	font-size:12px;
	font-weight:bold;
	padding:2px 0px;
	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	overflow:hidden;
	border-top:1px solid #dadada;
	}	
	
.ch-pay-box, .ch-shipcrg-box{
	width:140px;
	padding:6px 0 6px 8px;
	float:left;
	}
	
.ch-pay-price, .ch-shipcrg-price{
	width:80px;
	text-align:right;
	float:right;
	padding:6px 10px 8px 0px;
}
	
.ch-shipchr-outer{
	background:#f3f3f3;
	clear:both;
	overflow:hidden;
	border-top:1px solid #ececec;
	font-size:11px;
	font-weight:bold;
}

.ch-shipcrg-box{
	padding:2px 0 3px 8px;
	}
	
.ch-shipcrg-price{
	padding:2px 8px 3px 0px;
}
/* Checkout tabs*/ 
.Buy-cont-wrap{border:1px #aeaeae solid;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;
               border-radius:10px;background:#fff;overflow:hidden;margin:0 0 15px;padding-top:15px;
               float:right;width:650px;-moz-box-shadow:0 0 2px #828282;-webkit-box-shadow:0 0 2px #828282;
               box-shadow:0 0 2px #828282;font-size:11px}

.tabs-outer {
	/*background: url(/img/checkout/tabs-line.gif) repeat-x left 18px;*/
	width: 623px;
	overflow: hidden;
	margin: 0 10px 25px 10px;
}

.tabs-cont {
	/*background: url(/img/checkout/tab-bg.gif) no-repeat top center;*/
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	float: left;
	width: 150px;
}

.tab-visited:hover {
	/*background: url(/img/checkout/tab-active.gif) no-repeat top center;*/
	color: #555555;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.tab-active {
	/*background: url(/img/checkout/tab-active.gif) no-repeat top center;*/
	color: #17b0dc;
	font-weight: bold;
	font-size: 13px;
}

.tab-disabled {
	background: none !important;
	opacity: 0.6;
	cursor: not-allowed;
}

.tabs-order {
	background: url(../images/login.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-payment {
	background: url(../images/autoship.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-confirm {
	background: url(../images/order.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}

.tabs-complete {
	background: url(../images/liqpay.png) no-repeat center;
	height: 36px;
	margin: 0 auto;
}
.require {
	color: #FF0000;
	font-size: 11px;
}
.customer-info-outer,.order-summary-outer {
	overflow: hidden;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
}

.customer-info-outer {
	margin: 0 10px;
}

.order-summary-outer {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b6b5b5;
	margin: 0 10px 0px 10px;
}

.order-summary-bg {
	/*background: url(/img/checkout/order-summary-bg.gif) repeat-x;*/
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	margin: 1px;
	overflow: hidden;
}

.customer-info {
	width: 380px;
	float: left;
	overflow: hidden;
	padding-bottom: 25px;
}

.customer-info label {
	float: left;
	font-size: 13px;
	color: #242424;
	display: block;
	width: 150px;
	margin: 7px 0;
	text-align: right;
	padding-right: 10px;
}

.enquiry-info
{
    font-family: Segoe UI;
}
.enquiry-info label.error,.mobile-verfify-left label.error,.error {
	float: none;
	font-size: 11px;
	color: #E10707;
	display: block;
	width: auto;
	margin: 0px;
	text-align: left;
	
}

.divTable
{
    width:98%;
    border: 1px solid #cbc7c7;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
}
.th
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}
.th1
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    background-color: #97E6FF;
}
.tr
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}

.tr1
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    
}


.divCaption
{
     font: 13px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
     color:Navy;
     font-weight: bold;
     text-align:center;
     width: 98%;
}
.divroomTable
{
    overflow: auto;
    height: 340px;
}
@font-face{font-family: 'WebRupee';src: url('http://cdn.webrupee.com/WebRupee.V2.0.eot');src: local('WebRupee'), url('http://cdn.webrupee.com/WebRupee.V2.0.ttf') format('truetype'),  url('http://cdn.webrupee.com/WebRupee.V2.0.woff') format('woff'), url('http://cdn.webrupee.com/WebRupee.V2.0.svg') format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee';}
input.inputbox2,select.citybox2, textarea.inputbox2,select.quantity,input.promocode,.cart_deal_pro_con_col .inputbox,.cod-mobile-verification input.inputbox2,.cart_deal_pro_con_col select.cart-quantity
	{
	border: 1px solid #cbc7c7;
	font-size: 13px;
	font-weight: normal;
	color: #242424;
	background: #fff;
	-moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
	width: 300px;
	padding: 3px;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	margin: 3px 0
}

.button-outer {
	margin: 5px 0 5px 160px;
}

.order-button,.order-summary-button {
	background: url(../images/barbg.jpg);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 115px;
	margin-bottom: 5px;
	cursor: pointer;
	_cursor: hand;
	border:0px;
}

.button-text {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	/*background: url(../images/continue_button_arrow.png) no-repeat right;*/
	padding:3px 20px 6px 0;
	display: inline-block;
}

.button-text a {
	color: #fff !important;
	text-decoration: none !important;
}

.continue_text {
	font-size: 12px;
	color: #6f6f6f
}

.small-text {
	font-size: 11px;
	color: #3e3e3e
}

.shipping-address-text-outer {
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.shipping-address-text-outer .existing-address-text,.shipping-address-text-outer .new-address-text
	{
	float: left;
	text-align: center;
	width: 500px;
	padding-top: 5px
}

.shipping-address-text-outer .new-address-text {
	text-align: left;
	padding-left: 10px;
}

.shipping-address-text-outer .or-address-text {
	font-size: 24px;
	color: #8e8b8b;
	display: block;
	float: left;
}

.existing-shipping-address {
	
}

.shiping-address-outer {
	width: 320px;
	float: left;
	border-right: 2px solid #c0c2c1;
}

.shipping-address-cont {
	overflow: hidden;
	padding: 8px;
	border-bottom: 1px dotted #434242
}

.shipping-address-cont .address {
	float: left;
	font-size: 12px;
}

span.adress-heading {
	font-weight: bold;
	font-size: 14px
}

.shipping-address-cont .edit-address {
	float: right;
	width: 126px;
	margin-top: 35px
}

.edit-address-button {
	background: #4ab6d6
		url(../images/checkout-ship-address-button-bg.gif) repeat-x;
	height: 23px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.edit-address-button:hover {
	background: #4ab6d6	url(/img/snapdeal/checkout-ship-address-hover-button-bg.gif) repeat-x;
}

.edit-address-button span {
	display: block;
	background: url(/img/snapdeal/white-right-arrow.png) no-repeat right 7px;
	padding: 3px 12px 0 5px;
	width: 103px;
	cursor: pointer;
	_cursor: hand
}

.edit-address-small {
	color: #170ec6;
	text-align: right;
	padding-top: 3px;
}


.checkout-signin-box {
	width: 230px;
	float: right;
	margin: 0 15px 25px 0
}

.checkout-signbox,.checkout-signbox-cont {
	border: 1px #aeaeae solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	margin-top: 44px;
	padding: 10px 15px;
}

.checkout-signbox-cont {
	margin-top: 15px;
	text-align: left;
	display: none;
}

.checkout-signbox-cont p {
	padding: 0px;
	margin: 5px 0
}

.checkout-signbox-cont label {
	font-size: 12px;
	display: block;
	margin-bottom: 3px;
}

.checkout-alreday-head {
	font-size: 14px;
	padding-bottom: 8px;
}

.checkout-already_button,#signin_submit {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../images/checkout-sign-bg.gif) #6f6d6d repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 87px;
	margin: 0 auto;
	padding: 1px 0 4px 0;
	cursor: pointer;
	cursor: hand;
	border: 0px;
}

#signin_submit {
	margin: 0px !important;
}

.customer-heading-text {
	font-size: 12px;
	color: #242424;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center
}

.heading-text-left {
	text-align: left !important;
	padding-bottom: 5px !important;
}
.sameship
{
    margin-top: 10px;
    margin-left:50px;
    font:bold 12px/17px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}

.cart-order-summary-outer {
	-moz-border-radius: 10px 10px 0px 10px !important;
	-webkit-border-radius: 10px 10px 0px 10px !important;
	border-radius: 10px 10px 0px 10px !important;
}
.loading-overlay,.verfication-overlay,.content-overlay {
	background: url(../images/overlay.png);
	height: 100%;
	left: 0;
	position: fixed;
	_position: absolute;
	_height: 1020px;
	top: 0;
	width: 100%;
	z-index: 1200;
	display: none;
}
.close-content
{
    background: url(../images/close.png?v=1) no-repeat right top;
    margin: -4px 0 0 -21px;
    cursor: pointer;
    font-size: 11px;
    width: 100%;
    height: 20px;
    padding-top: 3px;
    text-align: right;
    padding-right: 25px;
    }
.ajax-loader-outer {
	background: #fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;
	margin: 291px auto 0 auto;
	width: 68px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 0 12px 46px;
	font-size: 13px;
	color: #000;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	height: 15px;
	-moz-box-shadow: 2px 2px 3px #C2C2C2;
	-webkit-box-shadow: 2px 2px 3px #C2C2C2;
	box-shadow: 2px 2px 3px #C2C2C2;
}

.loadwrapper {
width: 960px;
margin: 0 auto;
position: relative;
}

.loadContent
{
    background: white;
    padding: 9px 9px 0 9px;
    border: 1px solid #CACACA;
    _width: 835px;
    height:500px;
}
.wrapper-outer
{
    margin: 0 auto;
    width: 865px;
    height: 100%;
    
    padding: 15px 0;
}
.wrapper-inner
{
    background: url(../images/page-overlay.png);
    margin: 35px auto 0 auto;
    width: 827px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    
    padding: 8px;
}

.order-detail-values {
	padding: 5px 5px 5px 5px;
	text-align: right;
	overflow: hidden;
	
}
.order-detail-values span {
	font-size: 15px;
	font-weight: normal
}

.order-detail-values span.discount {
	color: #ed8600;
}

.order-detail-values span.shiping-charges {
	color: #a166f2;
}

.order-shipping-address-outer {
	overflow: hidden;
	background: #e7e5e5;
	padding: 10px;
	margin: 0 1px;
	border-top: 1px dotted #252525
}

.order-shipping-address-edit {
	float: left;
	width: 445px;
	font-size: 11px;
	color: #242424;
	overflow: hidden;
}

.customer-information {
	float: left;
	width: 149px;
}

.customer-address {
	float: left;
	padding: 0 0 0 5px;
	min-height: 98px;
	width: 135px;
	border-left: 1px #ababab solid;
}
.bill-address {
	float: left;
	padding: 0 0 0 5px;
	min-height: 98px;
	width: 145px;
	border-left: 1px #ababab solid;
}
.order-summary-continue {
	float: right;
	width: 180px;
}

.order-summary-button {
	border: 0px solid #257e98;
	width: 173px !important;
	float: right;
	margin-top: 15px;
	text-align: center;
}

.order-detail-value-label {
	float: left;
	text-align: right;
	width: 146px;
}

.order-detail-value {
	float: right;
}

.total-values {
	border-top: 5px solid #E3E3E3 !important;
	border-bottom: 0px;
}
.order-promocode-outer {
	float: left;
	width: 325px;
	padding: 10px;
}
.heading {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 10px;
}

.order-summary-deal-title {
color: #3E3E3E;
font-size: 12px;
}

.order-detail-payment {
	float: right;
	width: 275px;
	font-size: 12px;
	color: #3e3e3e;
	font-weight: bold;
	overflow: hidden;
	border: 1px solid #b6b5b5 !important;
	border-top: 0px solid #b6b5b5 !important;
	margin-bottom: 15px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}


.left-tabs {
	background: url(../images/tabs-line.gif) repeat-y right;
	float: left;
	width: 155px;
	margin-right: 25px;
	overflow: hidden;
	padding: 25px 0;
	font-size: 13px;
	color: #242424;
	font-weight: bold;
	min-height: 300px;
}

.left-tabs .left-tabs-cont {
	padding: 15px 0px 15px 10px;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	border: 1px solid #ccd2d4;
	border-right: 1px solid #fff;
	padding: 15px 0px 15px 10px;
	cursor: pointer;
}

.payment-outer{
	width:410px;
	}
	
	.inactive {
	border: 0px solid #ccd2d4 !important;
}

.payment-dis {
	color: #aaa;
	padding: 20px 0 40px 0;
	font-size: 12px;
}

.payment-heading {
	font-size: 13px;
	padding: 0 0 8px 0;
}

.payment-mode-subtype-label {
	font-size: 13px;
	color: #242424;
	margin: 7px 0;
}