﻿ /*table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
            font-size: 10pt !important;
            font-family: Arial !important;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table, table table td {
                border: 0px solid #ccc;
            }*/
        /*table, th, td {
            cellpadding:1px;
            cellspacing:1px;
        }*/
        th {
            background: lightskyblue;
        }

        .selected_row {
            background-color: #2c81a1;
            color:#fff;
        }

        .Gridposition {
            margin-left: 10px;
            width: 300px;
        }

        .textposition {
            margin-left: 1px;
            width: 295px;
        }

        .GridFolioDes {
            margin-left: 1px;
            width: 570px;
        }

        .Foliotextposition {
            margin-left: 2px;
            width: 565px;
        }

        .TextSearchVendor {
            margin-left: 1px;
            width: 516px;
        }

        .GridVendor {
            margin-left: 1px;
            width: 520px;
        }

        .GridAllIndent {
            margin-left: 1px;
            width: 800px;
        }

        .input3 {
            margin-left: 1px;
            width: 200px;
        }

        /*=================================================*/
        .Grid {
            border: solid 1px #59bdcc;
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

            .Grid td {
                padding: 2px;
                border: solid 1px #59bdcc;
                color: navy;
                background-color: #e6f3be;
            }

            .Grid th {
                padding: 4px 2px;
                background: #609eb3;
                font-size: 0.9em;
            }