﻿
.Grid {background-color: #fff; margin: 0 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid1 {background-color: #fff; margin: 0 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid td {
      padding: 2px; 
      border: solid 2px #c1c1c1; }
.Grid th  {
      padding : 4px 2px; 
      color: Black;
      font-weight:bold; 
      background: #363670 url(../images/grid_footer.jpg) repeat-x top; /*url(Images/grid-header.png) repeat-x top;*/ 
      border-left: solid 1px #525252; 
      font-size: 14px; }
.Grid .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
      .Grid1 td {
      padding: 2px; 
      border: solid 2px #c1c1c1; }
.Grid1 th  {
      padding : 4px 2px; 
      color: Black;
      font-weight:bold; 
      background: #363670 url(../images/grid_footer.jpg) repeat-x top; /*url(Images/grid-header.png) repeat-x top;*/ 
      border-left: solid 1px #525252; 
      font-size: 14px; }
.Grid1 .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid .pgr {background: #fcfcfc  url(../img/grid_footer.jpg) repeat-x top; }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px Black; font-weight: bold; color: Black; line-height: 12px; } 
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }


.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.HellowWorldPopup
{
    min-width:350px;
    min-height:150px;
    background:white;
}
.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 480px;
   height: 210px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: White;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}
.loading-overlay,.verfication-overlay,.content-overlay {
	background: url(../images/overlay.png);
	height: 100%;
	left: 0;
	position: fixed;
	_position: absolute;
	_height: 1020px;
	top: 0;
	width: 100%;
	z-index: 1200;
	display: none;
}

.loadwrapper {
        width: 960px;
        margin: 0 auto;
        position: relative;
}

.ajax-loader-outer {
	background: #fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;
	margin: 291px auto 0 auto;
	width: 68px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 0 12px 46px;
	font-size: 13px;
	color: #000;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	height: 15px;
	-moz-box-shadow: 2px 2px 3px #C2C2C2;
	-webkit-box-shadow: 2px 2px 3px #C2C2C2;
	box-shadow: 2px 2px 3px #C2C2C2;
}

.SearchButton
{
    background: #A9A9A9 url(../images/search-icon.png) no-repeat 5px 5px;
    width:23px;
    height:23px;
}

.text_field
{
    width: 125px;
    height: 20px;
    padding: 2px;
    border: 1px solid #2fa0ca;
    background: #ffffe4;
}
    
 