/* CSS Document */

*{padding:0px; margin:0px}

body{background:#18588a; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:14px; font-weight:normal}

#main_wraper{width:1000px; margin:0px auto; background:#fff}

.left{float:left}

.clr{clear:both}

.justify22{text-align:justify; line-height:22px}

.top_bg{height:85px; background:#d7e9ff; border-bottom:2px solid #98aabf; width:980px; padding:6px 10px}

.banner_bg{width:978px; margin:10px; background:#18588a; border:1px solid #073042;}

.right_pannel{padding:30px 10px 20px 0px; float:right; width:275px}

.text_field{width:125px; height:15px; padding:2px; border:1px solid #cccc9e; background:#ffffe4}

.submit_bg{width:55px; height:23px; background:url(../images/submit.png) no-repeat; cursor:pointer; border:0px; }

.scorl_bg{background:#d7e9ff; border-bottom:2px solid #98aabf; border-top:2px solid #98aabf; width:1000px; height:64px; padding:10px 0px}

.footer_bg{background:#152e49; padding:8px 0px}

/****************** text *****************/

.text01{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#042a3a; font-weight:normal; letter-spacing:1px}

.text02{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#394e01; font-weight:normal; letter-spacing:1px}

.text03{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff; font-weight:normal; letter-spacing:1px}


/********************** link *****************/

.link01{color:#b4e8ff; text-decoration:none}

.link01:hover{color:#fff; text-decoration:none}