﻿.DefaultText
{
	font-family:Segoe UI;
	font-size:11px;
		
}

.DefaultButton
{
	font-family:Segoe UI;
	font-size:11px;	
	
	padding: 3px;
}

.labelCaption
{
	font-family:Segoe UI;
	font-size:12px;	
	color:Navy;
	text-align:left;	
}
.labelCaptionright
{
	font-family:Segoe UI;
	font-size:12px;	
	color:Navy;
	text-align:right;	
}
.labelCaptionMonthly
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	text-align:right;	
}
.labelCaptionDaily
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	text-align:left;
		
}

.DailyTotalRowStyle{
    border:solid 1px Black;  
    background-color:#f3f5f5;
    font-weight:bold;
    font-family: Segoe UI;
    font-size: 12px;
}
.labelCaptionRightText
{
	font-family:Segoe UI;
	font-size:14px;	
	color:Navy;
	text-align:right;
	font-weight:bold;	
}
.labelCaptionFooter
{
	font-family:Segoe UI;
	font-size:12px;	
	color:Navy;
	text-align:left;
	font-weight:700;
}
.labelCaptionFooterText
{
	font-family:Segoe UI;
	font-size:14px;	
	color:Navy;
	text-align:left;	
	font-weight:bold;
	width:230px;
}

.labelCaptionFooterTotal
{
	font-family:Segoe UI;
	font-size:13px;	
	color:Black;
	text-align:right;	
	font-weight:bold;
	
}
.TableHeader
{
    font-family: Segoe UI;
    font-size: 12px;
    color: White;
    text-align: center;
    background-color: #44A9FB;
    border: solid 1px white;
}
.GroupHeaderStyle{
    border:solid 1px Black;
    background-color:#81BEF7;
    font-weight:bold;
    font-family: Segoe UI;
    font-size: 12px;
}
.GrandTotalRowStyle{
            border:solid 1px Black;  
            background-color:#ccc7c7;
            font-weight:bold;
            font-family: Segoe UI;
            font-size: 10px;
        }
.SubTotalRowStyle{
            border:solid 1px Black;
            background-color:#F5A9BC;
            font-weight:bold;
            font-family: Segoe UI;
            font-size: 10px;
        }
.TableHeaderRep
{
    font-family: Segoe UI;
    font-size: 12px;
    color: black;
    text-align: center;
    background-color: #b2d6f3;
    border: solid 1px gray;
    font-weight:bold;
}

.TableHeaderRepLeft
{
    font-family: Segoe UI;
    font-size: 12px;
    color: black;
    text-align: left;
    background-color: #b2d6f3;
    border: solid 1px gray;
    font-weight:bold;
}
.groupCaption
{
	font-family:Segoe UI;
	font-size:11px;	
	color:Navy;
	font-weight:bold;
	background-color:Gainsboro;
	/*background-color: #60c8c4;*/
	text-align:center;
	vertical-align:middle
}
.headingCaption
{
    font-family: Segoe UI;
    font-size: 12px;
    color: White;
    font-weight: bold; /*background-color:Gainsboro;*/
    background-color: #53C4BE;
    text-align: center;
    vertical-align: middle;
}
.headingCaptionFooter
{
    font-family: Segoe UI;
    font-size: 12px;
    color: White;
    font-weight: bold; /*background-color:Gainsboro;*/
    background-color: #53C4BE;
    text-align: center;
    vertical-align: middle;
    border: solid 1px gray;
}