﻿A:active

{
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:hover

{
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:link

{
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A:visited

{
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	color: #000000;
	margin: 2px;
	height: 20px;
	width: 150px;
}

.txt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	margin: 2px;
	height: 20px;
	width: 150px;
	font-weight: bold;
}

.style4 {font-size: 11px;font-family: 'Segoe UI', 'Courier New',Verdana, Arial, Helvetica;}
.divTable
{
    
    border: 1px solid #cbc7c7;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
}
.th
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}
.th1
{
    font: bold 11px/15px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    
}
.tr
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    
}
.tr1
{
    font: 11px/15px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    
}
.clear{
	line-height:0px;
	font-size:0px;
	clear:both;
	border:0;
	}
.divbackground {
    /*background: url(images/logo.png) no-repeat 180px 0;*/
    text-align: center;
    color: green;
    font-family: Arial,Verdana,'Segoe UI' ;
    padding-bottom:30px;
    width:100%;
    /*font-size: 13px;
    line-height: 18px;*/
    /*padding-top: 60px;*/  
}

 .divlogo{
    width:20%;
    float:left;
    text-align:right;
}
 .divHeader{
    width:50%;
    float:left;
    margin:5px 20px 10px 10px;
    text-align:center;
}

.mainheader{
    /*font-family:Arial,Verdana,'Segoe UI';*/
    font-size:30px;
    /*line-height:18px;*/
    
}

.caption{
    font-size:12px;
    line-height:16px;
}
.divHeaderRight{
     width:20%;
    float:left;
    text-align:left;
}