/* CSS Document */

*{padding:0px; margin:0px}

body{background:#336601; margin:6px 0px 0px 0px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#1f1f1f; font-size:12px; font-weight:normal}

ul{list-style:none}

.left{float:left}

.right{float:right}

.clr{clear:both}

.justify{text-align:justify; line-height:22px}

#main_wraper{width:980px; margin:0px auto;} 

.body_bg{width:940px; background:#FFFFFF; padding:15px 20px}

.logo{width:800px; padding:0px 0px 15px 20px}




.bg{background:#f5f5f5; padding:15px}

.text_field{background:#f5f5f5; padding:4px; width:90px; height:16px; border:1px solid #a4a4a4}

.button{background:#469500; color:#fff; cursor:pointer; text-align:center; width:60px; height:35px; font-size:14px; font-weight:bold; letter-spacing:0.3px; border:0px}




/************* text *****************/

.text01{color:#FFFFFF}

h2{ color:#55b104; font-size:20px; font-weight:normal}

.text04{color:#FFFFFF; font-size:11px}

.loading-overlay,.verfication-overlay,.content-overlay {
	background: url(../images/overlay.png);
	height: 100%;
	left: 0;
	position: fixed;
	_position: absolute;
	_height: 1020px;
	top: 0;
	width: 100%;
	z-index: 1200;
	display: none;
}

.loadwrapper {
width: 960px;
margin: 0 auto;
position: relative;
}
.ajax-loader-outer {
	background: #fff url(../images/ajax-loader_new.gif) no-repeat 5px 5px;
	margin: 291px auto 0 auto;
	width: 68px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 0 12px 46px;
	font-size: 13px;
	color: #000;
	font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
	height: 15px;
	-moz-box-shadow: 2px 2px 3px #C2C2C2;
	-webkit-box-shadow: 2px 2px 3px #C2C2C2;
	box-shadow: 2px 2px 3px #C2C2C2;
}

.wrapper-outer
{
    margin: 0 auto;
    width: 865px;
    height: 100%;
    overflow-y: auto;
    padding: 15px 0;
}
.wrapper-inner
{
    background: url(../images/page-overlay.png);
    margin: 35px auto 0 auto;
    width: 827px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 8px;
}
.loadContent
{
    background: white;
    padding: 9px 9px 0 9px;
    border: 1px solid #CACACA;
    _width: 835px;
}

.close-content
{
    background: url(../images/close.png?v=1) no-repeat right top;
    margin: -4px 0 0 -21px;
    cursor: pointer;
    font-size: 11px;
    width: 100%;
    height: 20px;
    padding-top: 3px;
    text-align: right;
    padding-right: 25px;
    }

.divCaption
{
     font: 13px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
     color:Navy;
     font-weight: bold;
     text-align:center;
     width: 98%;
}
.divroomTable
{
    overflow:scroll;
    height: 340px;
   
}
@font-face{font-family: 'WebRupee';src: url('http://cdn.webrupee.com/WebRupee.V2.0.eot');src: local('WebRupee'), url('http://cdn.webrupee.com/WebRupee.V2.0.ttf') format('truetype'),  url('http://cdn.webrupee.com/WebRupee.V2.0.woff') format('woff'), url('http://cdn.webrupee.com/WebRupee.V2.0.svg') format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee';}
.divTable
{
    width:100%;
    border: 1px solid #cbc7c7;
    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	-webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
	box-shadow: inset 0.9px 1px 3px #e4e4e4;
}

.th1
{
    font: bold 12px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    background-color: #7cca37;
}

.tr1
{
    font: 11px/19px Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
    border: 1px solid #cbc7c7;
    
}




