﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WBFCLMNAdmin.master" AutoEventWireup="true" CodeFile="InternalError.aspx.cs" Inherits="error_InternalError" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentBody" Runat="Server">
    <div>
        <table>
            <tr>
                <td style="text-align:center;width:100%;font-size:25px;color:red;">Internal Problem</td>
            </tr>
        </table>
    </div>
</asp:Content>

