﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WBFCLMNAdmin.master" AutoEventWireup="true" CodeFile="PageNotFound.aspx.cs" Inherits="error_PageNotFound" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentBody" Runat="Server">
    <div>
        <table>
            <tr>
                <td style="text-align:center;width:100%;font-size:25px;color:red;">Sorrry Page not found</td>
            </tr>
        </table>
    </div>
</asp:Content>

