﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WBFCLMNAdmin.master" AutoEventWireup="true" ViewStateEncryptionMode="Always" CodeFile="welcome.aspx.cs" Inherits="welcome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" autocomplete="off" ContentPlaceHolderID="ContentBody" Runat="Server">
    <div align="center" autocomplete="off"  id="agentDiv" runat="server" clientidmode="Static" >
        
            
    </div>
</asp:Content>

